<!doctype html>
<html lang="en" xmlns:th="https://www/thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Book Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fV7QHsli9XO7sLSyzpOu6sqx0votuN7VDbcT6CJ7V+j2LsXqmLaP8pgp6/Dd7wn+AxvDIt/a31Z8n3nqjjdP+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-Lkmd0WXyLYPstFzAQGQf1lEzr2aL31A9G9X4b1f4qqKY4m5zb5is5e5nz5KF5j5S5Lb/7H3ZITPOjvnm8i1WlQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-gauP0d+aIhe8yvKjX9a9xOgDfZjK6Z3q6Q5/W6gvaU6j5M6y/cYXhtllHyF61ixgRbZ/ACvZ89BuN+Blg1wVWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
    .fa-trash {
  font-size: 26px;
  color: red;
  cursor: pointer;
}
    </style>

  </head>
  
  <body>
   
   <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Book store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="available_books">Available Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="my_books">My Books</a>
        </li>
        
      </ul>
      <div>
      		<a class="nav-link text-white" href="book_register">New Book Register</a>
      </div>
      
    </div>
  </div>
</nav>

<div class="container my-5 col-md-6">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     <tr th:each="b:${book}">
      <td th:text="${b.id}"> </td>
      <td th:text="${b.name}"></td>
      <td th:text="${b.author}"></td>
      <td th:text="${b.price}"></td>
      <td>
  <a href="#" th:href="@{/deleteMyList/{id}(id=${b.id})}" class="btn btn-danger btn-sm" title="Delete this item" onclick="alert('Item deleted successfully.')">
    <i class="fas fa-trash-alt"></i> Delete
</a>

</td>

      
    </tr> 
    
    
  </tbody>
</table>
</div>

<!--  th:href="@{/deleteMyList/{id}(id=${b.id})}-->

   
   
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>